.experienceBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.experienceBar span {
  color: #e8e0e0;

  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 4px;
  border-radius: 4px;
  background: white;
}

span.currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}
